target/classes/AddressSuggestAndCalculater.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="AddressSuggestAndCalculater-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="AddressSuggestAndCalculater-config" raml="AddressSuggestAndCalculater.raml" consoleEnabled="true" doc:name="Router" keepRamlBaseUri="false"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap" serviceAddress="http://www.dneonline.com/calculator.asmx" doc:name="Web Service Consumer"/>
    <http:request-config name="HTTP_Request_Configuration" doc:name="HTTP Request Configuration">
        <http:proxy host="campus-proxy" port="8080"/>
    </http:request-config>
    <flow name="AddressSuggestAndCalculater-main">
        <http:listener config-ref="AddressSuggestAndCalculater-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="AddressSuggestAndCalculater-config" doc:name="APIkit Router"/>
        <exception-strategy ref="AddressSuggestAndCalculater-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="AddressSuggestAndCalculater-console">
        <http:listener config-ref="AddressSuggestAndCalculater-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="AddressSuggestAndCalculater-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/address/search:AddressSuggestAndCalculater-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;StatusCode&quot;: &quot;SUCCESS&quot;,&#xA;    &quot;StatusMsg&quot;: &quot;string&quot;,&#xA;    &quot;SuggestionIndex&quot;: &quot;string&quot;,&#xA;    &quot;Addresses&quot;: [&#xA;      {&#xA;        &quot;ProviderAddressId&quot;: &quot;string&quot;,&#xA;        &quot;ShortAddress&quot;: &quot;string&quot;,&#xA;        &quot;Postcode&quot;: &quot;string&quot;,&#xA;        &quot;ConfidenceScore&quot;: 0&#xA;      }&#xA;    ]&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/calculater/sub:AddressSuggestAndCalculater-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Request Received : #[payload]" level="INFO" doc:name="Request For Subtraction"/>
        <dw:transform-message doc:name="Transform JSON Request to SOAP Request" metadata:id="1d2e0373-fffb-4086-808e-a5bdd9d6e222">
            <dw:input-payload doc:sample="calculater\example\addReq.example"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
%namespace soapenv http://schemas.xmlsoap.org/soap/envelope/
---
{
	ns0#Subtract: {
		ns0#intA: inboundProperties."http.query.params".num1 as :number,
		ns0#intB: inboundProperties."http.query.params".num2 as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="Subtract" doc:name="Web Service Consumer - Calculator"/>
        <dw:transform-message doc:name="Map SOAP Response" metadata:id="ce053c2e-bce4-4a5b-8d72-a5b5edb3cf0e">
            <dw:input-payload doc:sample="sample_data\AddResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	(success: true) when payload.ns0#AddResponse.ns0#AddResult?,
	sumResult: payload.ns0#AddResponse.ns0#AddResult
}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <flow name="post:/calculater/add:application/json:AddressSuggestAndCalculater-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Request Received : #[payload]" level="INFO" doc:name="RequestForAddition"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1d2e0373-fffb-4086-808e-a5bdd9d6e222">
            <dw:input-payload doc:sample="calculater\example\addReq.example" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://tempuri.org/
%namespace soapenv http://schemas.xmlsoap.org/soap/envelope/
---
{
	ns0#Add: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="Add" doc:name="Web Service Consumer - Calculator"/>
        <dw:transform-message doc:name="Map SOAP Response" metadata:id="ce053c2e-bce4-4a5b-8d72-a5b5edb3cf0e">
            <dw:input-payload doc:sample="sample_data\AddResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://tempuri.org/
---
{
	(success: true) when payload.ns0#AddResponse.ns0#AddResult?,
	sumResult: payload.ns0#AddResponse.ns0#AddResult
}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <flow name="post:/address/validate/new:application/json:AddressSuggestAndCalculater-config">
        <set-payload value="{&#xA;  &quot;StatusCode&quot;: 200,&#xA;  &quot;StatusMsg&quot;: &quot;Passed QAS&quot;,&#xA;  &quot;Timestamp&quot;: &quot;string&quot;,&#xA;  &quot;ValidationStatus&quot;: true,&#xA;  &quot;Address&quot;: {&#xA;    &quot;BRIndicator&quot;: &quot;String&quot;,&#xA;    &quot;Floor&quot;: &quot;string&quot;,&#xA;    &quot;Room&quot;: &quot;string&quot;,&#xA;    &quot;StreetName&quot;: &quot;string&quot;,&#xA;    &quot;BlockName&quot;: &quot;string&quot;,&#xA;    &quot;BuildingName&quot;: &quot;string&quot;,&#xA;    &quot;BuildingNumber&quot;: &quot;string&quot;,&#xA;    &quot;PlotIdentification&quot;: &quot;string&quot;,&#xA;    &quot;Suburb&quot;: &quot;Parramatta&quot;,&#xA;    &quot;City&quot;: &quot;&quot;,&#xA;    &quot;State&quot;: &quot;NSW&quot;,&#xA;    &quot;Postcode&quot;: 2000,&#xA;    &quot;TimezoneOffset&quot;: &quot;string&quot;,&#xA;    &quot;Country&quot;: &quot;AU&quot;,&#xA;    &quot;AddressLines&quot;: [&#xA;      {&#xA;        &quot;AddressLine&quot;: &quot;string&quot;&#xA;      }&#xA;    ]&#xA;  }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/address/validate/picked:application/json:AddressSuggestAndCalculater-config">
        <set-payload value="{&#xA;  &quot;StatusCode&quot;: 200,&#xA;  &quot;StatusMsg&quot;: &quot;Passed QAS&quot;,&#xA;  &quot;Timestamp&quot;: &quot;string&quot;,&#xA;  &quot;ValidationStatus&quot;: true,&#xA;  &quot;Address&quot;: {&#xA;    &quot;BRIndicator&quot;: &quot;String&quot;,&#xA;    &quot;Floor&quot;: &quot;string&quot;,&#xA;    &quot;Room&quot;: &quot;string&quot;,&#xA;    &quot;StreetName&quot;: &quot;string&quot;,&#xA;    &quot;BlockName&quot;: &quot;string&quot;,&#xA;    &quot;BuildingName&quot;: &quot;string&quot;,&#xA;    &quot;BuildingNumber&quot;: &quot;string&quot;,&#xA;    &quot;PlotIdentification&quot;: &quot;string&quot;,&#xA;    &quot;Suburb&quot;: &quot;Parramatta&quot;,&#xA;    &quot;City&quot;: &quot;&quot;,&#xA;    &quot;State&quot;: &quot;NSW&quot;,&#xA;    &quot;Postcode&quot;: 2000,&#xA;    &quot;TimezoneOffset&quot;: &quot;string&quot;,&#xA;    &quot;Country&quot;: &quot;AU&quot;,&#xA;    &quot;AddressLines&quot;: [&#xA;      {&#xA;        &quot;AddressLine&quot;: &quot;string&quot;&#xA;      }&#xA;    ]&#xA;  }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="AddressSuggestAndCalculater-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
